@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card{
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card {
    width: 300px;
  }
}

li {
  margin: none
}

ul {
  margin: none
}

p {
  text-align: justify;
}

body {
  background: rgb(240, 240, 240);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
  margin: 30px
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

h1 {
  color: rgb(255, 0, 120);
  font-size: 22px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

a {
  color: rgb(255, 0, 120);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(222, 0, 104);
}


img.resize {
  width:200px;
  height:200px;
}

#Avatar {
  border-radius: 50%;
  box-shadow: 3px 3px 2px rgb(210, 210, 210);
}

.card {
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgb(210, 210, 210);
  padding: 30px;
  margin: 20px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.text-center {
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.btn-red {
    background-color: rgb(255, 0, 120);
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}
.btn-red:hover {
  color: white;
  background-color: rgb(222, 0, 104);
}

.icons-social {
  font-size: 40px;
}
